<div class="container">
            <span style="display:flex">
            <h1>Articles from io9</h1> 
            <button type="button" id="scrape" class="btn btn-primary">Scrape</button>
            </span>
    </div>
