<div class="container">
    <div class="row">
        <form class="form-inline my-2 my-lg-0" id="search">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search" id="q">
        </form>
    </div>
</div>
