<div class="container">
        <nav class="navbar navbar-expand-lg nav-fill w-100 navbar-light bg-light">
            <a class="navbar-brand" href="#">Geek News Scraped Fresh from io9 ===============></a>
            <button type="button" id="scrape" class="btn btn-primary">Scrape</button>
        </nav>
    </div>
