        <div id="idea-card" class="card" style="width: 18rem;" data-id="{{this.id}}">
            <div id="idea-card-body" class="card-body">
                <h5 id="idea-card-title" class="card-title"><a href="/project/{{this.id}}">{{this.name}}</a></h5>
                <p id="idea-card-text" class="card-text">{{this.description}}</p>
            </div>
        </div>